/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

body{
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    background-image: linear-gradient(#5fc3ec, #ff333f);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-size: 2.5rem;
    padding: 15px;
    border-radius: 10px;
    text-shadow: rgb(241, 197, 0) 10px 0 10px;
    color: purple;
    text-decoration: underline;
    font-weight: bold;
    width: 55%;
    margin-left: 20%;
}

#jordans-1{
    height: 350px;
    width: auto;
    box-shadow: 5px 1px blue;
}

#jordans-1-desc{
    background-color: #5fc3ec;
    border: solid red 3px;
}

#jordans-2{
    height: 335px;
    width: 600px;
    box-shadow: -5px 1px red;
}


#jordans-1-desc, #jordans-2-desc{
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font: .4em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

#row1, #row2{
    width: 27.5%;
}

#jordans-2-desc{
    background-color: #ff333f;
    border: solid 3px green;
}

#row1{
    margin-left: 20%;
    width: 47%;
}

#row2{
    margin-left: 40%;
    width: 47%;
}